.h1,
h2,
h4,
body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  height: 40px;
  line-height: 40px;
  display: flex;
  text-align: center;
}

.left,
.right {
  width: 80px;
  background-color: red;
}

.nav-bar .center {
  flex: 1;
  background-color: yellow;
}